body {
	font:normal 0.8em Arial,sans-serif;
	margin:0;
}

section, header {
	display:block;
}

#tabs {
	margin:60px 5px 5px 5px;
	z-index:0;
	overflow:hidden;
}

#input {
	float:left;
	width:60%;
}

#output {
	float:left;
	padding:10px;
}

.error, .false {
	font-weight:bold;
	color:#900;
}

.small {
	font-size:0.8em;
}

.true {
	color:#090;
	font-weight: bold;
}

.incomplete {
	color:#009;
	font-weight:bold;
}

textarea, input[type=text] {
	border:1px solid #aaa;
	margin: 0 2px;
}

abbr {
	border:0;
}

pre {
	padding:0px 2px;
	font-size:12px;
}

textarea {
	font-size:12px;
}

h1 {
	margin:0;
	padding:10px;
	background:#111;
	color:#fff;
	position:fixed;
	width:100%;
	text-align: center;
	top:0;
	z-index:2;
}

h2 {
	margin:0;
	padding:10px 0 5px 0;
}

#popup {
	border:2px solid #090;
	border-radius:5px;
	background:#fff;
	position:fixed;
	width:50%;
	left: 25%;
	top:30%;
	display:none;
	padding:4px;
}

#warning {
	display:none;
	border-radius:5px;
	border:2px solid #900;
	background-color:pink;
	position:fixed;
	padding:4px;
	width:50%;
	left:25%;
	top:2%;
	z-index:3;
}
