h1 {
    line-height: 1;
    float: none;
}

/* #input {
    float: left;
    width: 600px;
} */

#shorthand {
    max-width: 450px;
    width: 100%;
}

/* #output {
    float: left;
    padding: 10px;
} */

.btn {
    padding: auto;
}

.form-row {
    margin: 0;
}
.small {
    font-size: 0.8em;
}

.success {
    color: #090;
    font-weight: bold;
}

.info {
    color: #009;
    font-weight: bold;
}

.error, .false {
    font-weight: bold;
    color: #900;
}

input, select, button, textarea, pre {
    width: auto;
    margin-right: 2px;
}

abbr {
    border: 0;
}

pre, textarea {
    padding: 4px;
    font: normal 14px 'Courier New', monospace;
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.method {
    margin-bottom: 5px;
}

.alert {
    display: none;
    position: fixed;
    z-index: 3;
    width: 50%;
    left: 25%;
}
