#navigation {
    margin: 10px 0;
}

.navbar {
    margin: 0 -15px;
}

.small {
    font-size: 0.8em;
}

abbr {
    border: 0;
}

pre, textarea {
    padding: 4px;
    font: normal 14px 'Courier New', monospace;
}

pre {
    border: 1px solid #aaa;
    border-radius: 4px;
}

.output {
    height: auto;
    overflow: hidden;
}

.alert {
    display: none;
    position: fixed;
    z-index: 3;
    width: 50%;
    left: 25%;
}
