# Deflate EVERYTHING
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/plain application/javascript application/x-javascript
</IfModule>

# Cache the text files for 1 week (they won't get updated more often than that anyway)
<IfModule mod_expires.c>
    ExpiresActive   On
    ExpiresDefault  "access plus 1 week"
    ExpiresByType   application/x-javascript "access plus 1 hour"
    ExpiresByType   application/javascript   "access plus 1 hour"
</IfModule>
